* {
  font-size: 12px;
}

.btn:focus {
  box-shadow: none !important;
}
.btn-primary {
  background-color: #00b9ff !important;
  border-color: #00b9ff !important;
}
a {
  color: #00b9ff !important;
}
.container {
  display: flex;
  min-height: 100vh;
  align-items: center;
}

.form-wrapper {
  width: 504px;
  margin: 0 auto;
  background: #ffffff;
  box-shadow: 0px 0px 6px rgba(183, 183, 183, 0.32);
  border-radius: 4px;
}

.form {
  padding: 32px;
}

.hidden {
  display: none;
}

.form .btn {
  width: 184px;
  font-size: 14px;
}

.btn-group {
  width: 100%;
  border-bottom: #eff2f7 1px solid;
}

.btn-group .btn {
  padding: 11px;
  width: 50%;
  font-size: 14px;
}

.submit {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

.btn.btn-inactive {
  background-color: #eff2f7;
}

#loginForm,
#registrationForm {
  position: relative;
}
.password-control {
  position: absolute;
  right: 40px;
}

.password-login-control {
  top: 130px;
}

.registration1-control {
  top: 195px;
}

.registration2-control {
  top: 265px;
}

.forgot-password {
  margin-bottom: 20px;
}

.form .form-control {
  padding: 15px;
}

#registrationLocation {
  padding: 0 0 0 10px;
  height: 32px;
}

.form .invalid {
  border: #f96d63 1px solid;
}

.message {
  width: 140px;
  height: 24px;
  background-color: #f96d63;
  position: absolute;
  right: 38px;
  top: 59px;
  color: white;
  font-style: italic;
}

.message::before {
  content: '';
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-right: 14px solid #f96d63;
  border-bottom: 12px solid transparent;
  position: absolute;
  right: 140px;
}
#loginPasswordError {
  right: 58px;
  top: 128px;
}

#registrationPhoneError {
  top: 128px;
}
#registrationPassword1Error {
  right: 58px;
  top: 196px;
}
#registrationPassword2Error {
  right: 58px;
  top: 264px;
}
